<h2>Usuários</h2>
<div class="card">
    <div class="card-body">
        <form action="/github/usuarios" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" id="user" name="user" placeholder="Digite aqui o nome do usuário que procura" required>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <button class="btn btn-success" type="submit">Procurar</button>
            </div>
        </form>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 mt-4">
    {{#each lista}}
        <div class="col mb-4">
            <div class="card">
                <img src="{{avatar_url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Usuário: {{login}}</h5>
                    <div class="d-flex justify-content-center">
                        <a href="{{html_url}}" target="_blank"><button type="button" class="btn btn-success mr-3">Acessar</button></a>
                        <form action="/github/comentarios" method="POST">
                            <input type="hidden" id="id" name="id" value="{{id}}">
                            <input type="hidden" id="name" name="name" value="{{name}}">
                            <input type="hidden" id="tipo" name="tipo" value="user">
                            <button type="submit" class="btn btn-primary mr-3">Comentários</button>
                        </form>
                        <form action="/github/userRepos" method="POST">
                            <input type="hidden" id="repos_url" name="repos_url" value="{{repos_url}}">
                            <input type="hidden" id="html_url" name="html_url" value="{{html_url}}">
                            <input type="hidden" id="userName" name="userName" value="{{login}}">
                            <input type="hidden" id="tipo" name="tipo" value="user">
                            <button type="submit" class="btn btn-primary">Repositórios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{else}}

    {{/each}}
</div>